/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
// These two lines include the bootstrap code
// Once they are included, we can access bootstrap variables and mixins
@import 'bootstrap-sprockets';
@import 'bootstrap';


 $brand-red : #d05141;
 $brand-dark-range :#ee6f5e;
 $brand-dark-blue : #3f4f6f;
 $brand-gray-growth : #5b6982;
 $brand-slightly-desaturated-blue : #78a0b4;

@import 'base';
@import 'stories';
