
// This is the spacing between blocks
// Sometimes we use 50% and sometimes 200% of it.

body {
	background-color: #fafafa;
	font-family: "Roboto", palatino, serif;
	margin-bottom: 30px;
}

h1, h2, h3, h4 {
	font-family: "Roboto Slab", palatino, serif;
}

.errors-summary {
  box-shadow: 0 0 5px rgba(255,20,20,0.5);
  background-color: #ffeeee;
  padding: 10px 30px;
  font-size: 14px;
  margin-bottom: 20px;

  > p {
    font-weight: bold;
  }
}
