
// This is the spacing between blocks
// Sometimes we use 50% and sometimes 200% of it.

body {
	background-color: #fafafa;
	font-family: "Roboto", palatino, serif;
}

h1, h2, h3, h4 {
	font-family: "Roboto Slab", palatino, serif;
}

