
// This is the spacing between blocks
// Sometimes we use 50% and sometimes 200% of it.

body {
	background-color: #eaeaea;
}

// To centre this content we have to wrap
// the span in a div and make it inline-block.  
// Thanks CSS!
.story-count {
	text-align: center;

	> span {
		display: inline-block;
		background-color: white;
		padding: 5px 10px;
	}
}

.story-box {
	background-color: #fff;
	margin-bottom: 20px;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2); 
  
  &-vote {
  		display: inline-block;
  		vertical-align: middle;
		text-align: center;
		width: 35px;
  }

  &-image {
		width: 100px;
  }

  &-details {
  	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;

  }
}



.story-box-vote-arrow {
	font-size: 20px;

	&:hover {
		text-decoration: none;

	}
}

