div {
	.vote {
		display: inline-block;
	}
	 
		.arrow {
			display: block;
			margin: 0;
			}
	
	.row {
		margin-top: 20px;
	}
	.panel-body {
		padding: 0;
	}
	.panel {
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
		&:hover {
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  			transition: box-shadow 250ms;
		}
	}
	.right-sidebar {
		@extend .panel;
		position: fixed;
		right: 10px;
	}
	.submit_date {
		display: inline-block;
		font-size: 12px;
	}
	.glyphicon-search {
		@extend .row;
	}
	.search {
		width: 90%;
		border: 1px solid lightgrey;
		border-radius: 1px;
		padding: 5px;
	}
	.form-control {
		margin-bottom: 10px;
	}

	.btn {
		width: 100%;
		margin-bottom: 10px;
	}
	.bg-success {
		border-radius: 5px;
		height: auto;
	}
	.glyphicon {
		margin-left: 10px;
	}	
	.glyphicon {
		margin-left: 10px;
	}
	img	{
		width: 100px;
	}
}

h1 {
	text-align: center;
	@extend .panel-body;
	margin-bottom: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}